.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 30px;
}

.LetterContainer{
  display:flex;
  flex-direction: row;
  
  gap: 10px;
  width: 800px;
  flex-wrap:wrap;
 
}




