body {
  background-image: url('background.jpg');
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 30px;
}

.App h2 {

  font-size: 40px;
 color:orange;
 background-color: black;
 padding: 20px;
}

.App h1 {
  font-size: 40px;
  color:white;

}

.LetterContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
  gap: 10px;
  width: 800px;
  flex-wrap: wrap;
}




